

<!----------------------------------

 Product Edit View
 
 templateUrl: product/edit.html
 
 ----------------------------------->

<form ng-controller="ProductEditController as productEditCtrl" ng-submit="productEditCtrl.save()" id="productForm" name="productForm" class="form-horizontal" novalidate>

<div class="panel panel-default row">

	<div class="panel-heading">
		<h3>Produto</h3>
	</div>
	
	<div class="panel-body">
	
		<input type="hidden" name="product.id" ng-model="productEditCtrl.product.id" novalidate />
		<input type="hidden" name="product.version" ng-model="productEditCtrl.product.version" novalidate />
		<input type="hidden" name="product.brand.id" ng-model="productEditCtrl.product.brand.id" novalidate />
		<input type="hidden" name="product.brand.version" ng-model="productEditCtrl.product.brand.version" novalidate />
		<input type="hidden" name="product.manufacturer.id" ng-model="productEditCtrl.product.manufacturer.id" novalidate />
		<input type="hidden" name="product.manufacturer.version" ng-model="productEditCtrl.product.manufacturer.version" novalidate />
		
		<div class="form-group col-md-12">
			<label for="name" class="control-label col-md-2">* Nome:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="name" name="name" class="form-control" placeholder="Nome do produto" ng-model="productEditCtrl.product.name" maxlength="255" novalidate required />
			</div>
			<div class="input-group col-md-10 col-md-offset-2">
				<span class="label label-warning" ng-show=productForm.name.$invalid && !productForm.name.$pristine">Nome deve ser preenchido!</span>
			</div>
		</div>
		
		<div class="form-group col-md-12">
			<label for="cnpj" class="control-label col-md-2">Marca:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">0-9</span>
				<input type="text" id="brand.name" name="brand.name" class="form-control" placeholder="Nome da marca" ng-model="productEditCtrl.product.brand.name" maxlength="255" novalidate />
			</div>
		</div>
		
		<div class="form-group col-md-12">
			<label for="cnpj" class="control-label col-md-2">Fabricante:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">0-9</span>
				<input type="text" id="manufacturer.name" name="manufacturer.name" class="form-control" placeholder="Nome do fabricante" ng-model="productEditCtrl.product.manufacturer.name" maxlength="255" novalidate />
			</div>
		</div>
		

	</div>
	
	<div class="panel-footer">
	
		<button type="submit" id="submitButton" class="btn btn-primary" ng-disabled="productForm.$invalid">Salvar</button>

		<button id="backButton" class="btn btn-primary" jl-back>Voltar</button>

	</div>

</div>

</form>
