

<!----------------------------------

 Company Edit View
 
 templateUrl: company/edit.html
 
 ----------------------------------->
		<ol class="breadcrumb">
			<li>Empresas</li>
			<li>Empresa</li>
		</ol>

<form ng-controller="CompanyEditController as companyEditCtrl" ng-submit="companyEditCtrl.save()" id="companyForm" name="companyForm" class="form-horizontal" novalidate>

<div class="panel panel-default">

	<div class="panel-heading">
		<span class="panel-title">Empresa</span>
	</div>
	
	<div class="panel-body">
	
		<input type="hidden" name="company.id" ng-model="companyEditCtrl.company.id" novalidate />
		<input type="hidden" name="company.version" ng-model="companyEditCtrl.company.version" novalidate />
		<input type="hidden" name="company.address.id" ng-model="companyEditCtrl.company.address.id" novalidate />
		<input type="hidden" name="company.address.version" ng-model="companyEditCtrl.company.address.version" novalidate />
		
		<div class="form-group col-md-12">
			<label for="name" class="control-label col-md-2">* Nome:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="name" name="name" class="form-control" placeholder="Nome da empresa" ng-model="companyEditCtrl.company.name" maxlength="255" novalidate required />
			</div>
			<div class="input-group col-md-10 col-md-offset-2">
				<span class="label label-warning" ng-show="companyForm.name.$invalid && !companyForm.name.$pristine">Nome deve ser preenchido!</span>
			</div>
		</div>
		
		<div class="form-group col-md-12">
			<label for="cnpj" class="control-label col-md-2">CNPJ:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">0-9</span>
				<input type="text" id="cnpj" name="cnpj" class="form-control" placeholder="CNPJ sem pontuação" ng-model="companyEditCtrl.company.cnpj" maxlength="14" novalidate />
			</div>
		</div>
		
		<div class="form-group col-md-12">
			<label for="site" class="control-label col-md-2">Web Site:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">www</span>
				<input type="text" id="site" name="site" class="form-control" placeholder="Web site" ng-model="companyEditCtrl.company.site" maxlength="255" novalidate />
			</div>
		</div>

		<div class="form-group col-md-12">
			<label for="address.number" class="control-label col-md-2">Coment&aacute;rio:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">a-z</span>
				<textarea id="company.comment" name="company.comment" class="form-control" rows="3" placeholder="Coment&aacute;rios sobre a empresa" ng-model="companyEditCtrl.company.comment" maxlength="600" novalidate />
			</div>
		</div>
				
		<div class="form-group col-md-12">
			<label for="address.street" class="control-label col-md-2">* Rua:</label>
			<div class="input-group col-md-6">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="address.street" name="address.street" class="form-control" placeholder="Rua" ng-model="companyEditCtrl.company.address.street" maxlength="255" novalidate required />
			</div>
		</div>

		<div class="form-group col-md-12">
			<label for="address.number" class="control-label col-md-2">* N&uacute;mero:</label>
			<div class="input-group col-md-2">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="address.number" name="address.number" class="form-control" placeholder="N&uacute;mero" ng-model="companyEditCtrl.company.address.number" maxlength="10" required novalidate />
			</div>
		</div>

		<div class="form-group col-md-12">
			<label for="address.street" class="control-label col-md-2">Referência:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="address.extra" name="address.extra" class="form-control" placeholder="Complemento" ng-model="companyEditCtrl.company.address.extra" maxlength="600" novalidate />
			</div>
		</div>
		
		<div class="form-group col-md-12">
			<label for="address.street" class="control-label col-md-2">Cidade:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="address.city" name="address.city" class="form-control" placeholder="Cidade" ng-model="companyEditCtrl.company.address.city" maxlength="255" novalidate />
			</div>
		</div>

		<div class="form-group col-md-12">
			<label for="address.number" class="control-label col-md-2">Estado:</label>
			<div class="input-group col-md-4">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="address.state" name="address.state" class="form-control" placeholder="Estado" maxLength="2" ng-model="companyEditCtrl.company.address.state" maxlength="2" novalidate />
			</div>
		</div>
		
		<div class="form-group col-md-12">
			<label for="address.street" class="control-label col-md-2">CEP:</label>
			<div class="input-group col-md-4">
				<span class="input-group-addon">0-9</span>
				<input type="text" id="address.cep" name="address.cep" class="form-control" placeholder="CEP" ng-model="companyEditCtrl.company.address.cep" maxlength="8" novalidate />
			</div>
		</div>

		<div class="form-group col-md-12">
			<label for="address.number" class="control-label col-md-2">Pa&iacute;s:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="address.country" name="address.country" class="form-control" placeholder="Pa&iacute;s" ng-model="companyEditCtrl.company.address.country" maxlength="255" novalidate />
			</div>
		</div>

<!-- 
		<div class="form-group col-md-12">
			<label for="address.number" class="control-label col-md-2">Segmento de Mercado:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">a-z</span>
				
				<input type="text" ng-model="companyEditCtrl.editMarketSegment" placeholder="Segmento de mercado" 
					typeahead="marketSegment as marketSegment.name for marketSegment in companyEditCtrl.searchMarketSegments($viewValue)" 
					typeahead-loading="loadingMarketSegments" 
					class="form-control">
				<span ng-click="companyEditCtrl.addMarketSegment(companyEditCtrl.editMarketSegment)" class="input-group-addon">+</span>
		    	
			</div>
		</div>
 -->

		<div class="form-group col-md-12">
			<div class="input-group col-md-10 col-md-offset-2">
				<span ng-repeat="market in companyEditCtrl.company.marketSegments" class="label label-info">
					- {{market.name}}
				</span>
			</div>
		</div>
	</div>

	
	<div class="panel-footer">

		<button type="button" id="editContactsButton" class="btn btn-primary" ng-click="companyEditCtrl.editContacts()"  ng-disabled="companyEditCtrl.company.id == null">Contatos</button>

		<button type="button" id="editMarketSegmentsButton" class="btn btn-primary" ng-click="companyEditCtrl.editMarketSegments()"  ng-disabled="companyEditCtrl.company.id == null">Segmentos de Mercado</button>

		<button type="button" id="editMarketSegmentsButton" class="btn btn-primary" ng-click="companyEditCtrl.editNegotiations()"  ng-disabled="companyEditCtrl.company.id == null">Produtos</button>
	
		<button type="submit" id="submitButton" class="btn btn-primary" ng-disabled="companyForm.$invalid">Salvar</button>
	
		<button type="button" id="deleteButton" class="btn btn-primary" ng-click="companyEditCtrl.deleteCompany()" ng-disabled="!companyEditCtrl.company.id">Excluir</button>

		<button id="backButton" type="button" class="btn btn-primary" jl-back>Voltar</button>

	</div>

</div>

</form>
