

<!----------------------------------

 Brand Edit View
 
 templateUrl: brand/edit.html
 
 ----------------------------------->

<form ng-controller="BrandEditController as brandEditCtrl" ng-submit="brandEditCtrl.save()" id="brandForm" name="brandForm" class="form-horizontal" novalidate>

<div class="panel panel-default row">

	<div class="panel-heading">
		<h3>Marca</h3>
	</div>
	
	<div class="panel-body">
	
		<input type="hidden" name="brand.id" ng-model="brandEditCtrl.brand.id" novalidate />
		<input type="hidden" name="brand.version" ng-model="brandEditCtrl.brand.version" novalidate />
		
		<div class="form-group col-md-12">
			<label for="name" class="control-label col-md-2">* Nome:</label>
			<div class="input-group col-md-10">
				<span class="input-group-addon">a-z</span>
				<input type="text" id="name" name="name" class="form-control" placeholder="Nome da marca" ng-model="brandEditCtrl.brand.name" maxlength="255" novalidate required />
			</div>
			<div class="input-group col-md-10 col-md-offset-2">
				<span class="label label-warning" ng-show=brandForm.name.$invalid && !brandForm.name.$pristine">Nome deve ser preenchido!</span>
			</div>
		</div>

	</div>
	
	<div class="panel-footer">
	
		<button type="submit" id="submitButton" class="btn btn-primary" ng-disabled="brandForm.$invalid">Salvar</button>

		<button id="backButton" class="btn btn-primary" jl-back>Voltar</button>

	</div>

</div>

</form>
